/* =========
import =======
============ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* ===========
Gloobal CSS===========
================= */
:root{
    --main-color : #505cfd;
    --white: #fff;
    --black-900: #000000;
    --black-500 : #333333;
    --black-300: #757575 ;
    --black-000: #dddddd;
}
.section-padding{
    padding: 80px 0;
}
.section-title h2{
    font-size: 40px;
    font-weight: 600;
    color: var(--black-500);
    padding-top: 50px;
}
.section-title p{
    font-size: 14px;
    font-weight: 300;
    color: var(--black-500);
    padding-bottom: 50px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* ========= header section ==
==========================
========= */
.header-section{
    background-image: url('../images/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    padding: 20px 20px;
}
.navbar{
    background-color: transparent;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--black-300);
}
.navbar-nav li{
    padding: 20px 20px;
}
.navbar-nav li a{
    color: var(--black-500);
    font-size: 15px;
    font-weight: 500;
}
.main-text {
    padding: 300px 0;
    margin: 0;
}
.main-text h2{
    font-size: 70px;
    font-weight: 600;
    padding-bottom: 15px;
    color: var(--black-500);
    opacity: 90%;
}
.main-text p{
    font-size: 15px;
    font-weight: 300;
    color: var(--black-300);
    padding-bottom: 50px;
}
.main-text a{
    background-color: transparent;
    color: var(--black-500);
    padding: 10px 30px;
    border: 1px solid var(--main-color);
    border-radius: 30px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.main-text a:hover{
    background-color: var(--main-color);
    color: var(--white);
}
.monu-description{
    background-color: #505cfd;
    border-radius: 20px;
}
.des-item{
    padding: 30px;
}
.des-item.middle{
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
}
.des-item img{
    height: 30px;
    width: 30px;
}
.des-item h3{
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
}
.des-item p{
    color: var(--white);
    font-size: 13px;
    font-weight: 300;
    padding-top: 20px;
}


/* ========= hero section =
==========================
========= */
.hero-text{
    padding: 15px;
}
.hero-text h2{
    font-size: 30px;
    font-weight: 500;
    color: var(--black-500);
}
.hero-text p{
    font-size: 14px;
    font-weight: 300;
    color: var(--black-500);
    padding: 30px 0;
    
}
.hero-text  span{
    font-size: 14px;
    font-weight: 300;
    color: var(--black-500);
    transition: all 0.5s ease;
}
.hero-text a{
    background-color: transparent;
    color: var(--black-500);
    padding: 10px 30px;
    border: 1px solid var(--main-color);
    border-radius: 30px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.hero-text a:hover{
    background-color: #505cfd;
    color: var(--white);
    transition: all 0.5s ease;
}
.hero-img{
    padding: 20px;
}
.hero-img img{
    max-width: 100%;
}

/* =========
sign-up-section ======
===================== */

.sign-up-section{
    background-image: url('../images/sign-up-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sign-up-text h2{
    font-size: 30px;
    font-weight: 600;
    color: var(--black-500);
}
.sign-up-text p{
    font-size: 15px;
    font-weight: 300;
    color: var(--black-500);
    text-align: center;
    padding: 20px 0;
}
.sign-up-form input{
    font-size: 15px;
    font-weight: 300;
    color: var(--black-500);
    padding: 10px 15px;
    border-radius: 30px;
    border-style: none;
    margin: 10px;
    box-shadow: 1px 2px 20px rgba(0,0,0,0.5);
}
.sign-up-form  a{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 30px;
    background-color: #505cfd;
    color: var(--white);
    border-radius: 30px;
    margin-left: 10px;
    text-decoration: none;
}
.sign-up-form  a:hover{
    background-color:  var(--white);
    color: var(--black-500);
    border: 1px solid var(--main-color);
    transition: all 0.5s ease;
}


/* === 
category-section =====
====================== */

.category-section{
    margin: 0 80px;
}
.category-item{
    padding: 50px 20px;
    margin: 20px;
    box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.07);
    transition: all 0.5s ease;
}
.category-item:hover{
    background-color: var(--black-500);
    color: var(--white);
}
.category-item:hover > h3{
    color: var(--white);
}
.category-item:hover > p{
    color: var(--white);
}
.category-item:hover > a{
    color: var(--white);
}
.category-item .cate-icon img{
    height: 40px;
    width: 40px;
}
.category-item h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--black-500);
    padding: 20px 0;
}
.category-item p{
    font-size: 14px;
    font-weight: 300;
    color: var(--black-500);
    padding: 20px 20px;
    padding-bottom: 50px;
}
.category-item a{
    font-size: 14px;
    font-weight: 700;
    color: var(--black-500);
    padding: 15px 30px;
    text-decoration: none;
}



/* ==== 
pricing section ===
================== */
.pricing-section{
    background-color: #e7e8fe;
}
.price-item{
    padding: 30px 10px;
    border: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 50px;
    transition: all 0.5s ease;
}
.price-item:hover{
    background-color: var(--white);
}
.price-header{
    border-bottom:1px solid rgba(0,0,0,0.2);
}
.price-header h3{
    font-size: 25px;
    font-weight: 600;
    color: var(--black-500);
    padding: 20px 0;
}
.price-body{
    padding: 20px 0;
}
.price p{
    font-size: 20px;
    font-weight: 500;
    color: #505cfd;
    padding-top: 15px;
    padding-right: 5px;
}
.price span{
    font-size: 55px;
    font-weight: 600;
    color: #505cfd;
}
.price-list{
    padding: 15px;
    margin: 0;
}
.price-list ul li{
    list-style: none;
    font-size: 17px;
    font-weight: 500;
    color: var(--black-300);
    padding-bottom: 10px;
}
.price-footer a{ 
    font-size: 14px;
    font-weight: 500;
    padding: 10px 50px;
    border: 1px solid var(--main-color);
    color: var(--black-500);
    border-radius: 30px;
    margin-left: 10px;
    text-decoration: none;
    transition: all 0.5s ease;
}
.price-footer a:hover{
    background-color: #505cfd;
    color: var(--white);
}

/* == 
review-section ====
==================== */
.review-section{
    background-color: #505cfd;
}
.review-item{
    padding: 80px 0;
}
.review-item img{
    height: 30px;
    width: auto;
}
.review-item h3{
    font-size: 30px;
    font-weight: 400;
    color: var(--white);
    padding-top: 10px;
}
.review-item p{
    font-size: 12px;
    font-weight: 500;
    color: var(--white);
}

/* =====
team-section ===
===============
 */

 .team-section{
     width: 100%;
     margin: 0;
 }
 .team-img{
    height: 400px;
    max-width: 100%;
    position: relative;
 }
 .team-img img{
    display: block;
 }
 .img-overlay{
     position: absolute;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color:  rgba(211, 219, 221, 0.465);
     text-align: center;
     width: 400px;
     height: 400px;
     color: var(--black-900);
     opacity: 0;
     transition: all 0.5s ease;
     border-radius: 20px;
 }
 .team-img :hover{
     opacity: 1;
 }
 .img-overlay-text{
    position: absolute;
    top:35%;
    left:30%;
    transform: translateY(-50,-50);
    text-align: center;
    justify-content: center;
    display: block;
 }

 /* ====
 blog section =======
 =============== */

 .blog-item{
     padding: 20px 15px;
 }
 .blog-img{
     padding-bottom: 10px;
 }
 .blog-img img{
     max-width: 100%;
 }
 .blog-body .blog-title h3{
    font-size: 22px;
    font-weight: 500;
    color: var(--black-500);
    padding: 5px 0;
 }
 .blog-body span{
     font-size: 17px;
     font-weight: 300;
 }
 .blog-body p{
     font-size: 15px;
     font-weight: 300;
     padding: 20px 0;
 }
 .blog-footer a{
     font-size: 15px;
     font-weight: 600;
     color: var(--black-500);
     text-decoration: none;
 }